.nav_inferior {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cor-principal);
  padding: var(--esp-menor);
  text-align: center;
  color: white;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav_inferior .opcoes {
  text-decoration: none;
  color: white;
  font-size: var(--fonte-media);
}

.nav_inferior .opcoes:hover {
  text-decoration: none;
  color: var(--cor-titulo-grande);
  font-size: var(--fonte-media);
}
