.produto {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: var(--esp-menor);
  width: 400px;
  border: 1px solid var(--cor-detalhes-fundo);
  padding: var(--esp-normal);
  border-radius: var(--esp-menor);
}

.botao_reserva {
  background-color: var(--cor-principal);
  border: none;
  width: 50%;
  padding: var(--esp-menor);
  border-radius: var(--esp-menor);
  color: white;
}

.titulo {
  font-size: var(--fonte-menor);
}
