# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cantina_go
DB_USER=postgres
DB_PASSWORD=seu_password

# JWT
JWT_SECRET=sua_chave_secreta_super_segura
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:3001
