.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--esp-normal);
  justify-content: center;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  background-color: var(--cor-fundo);
}

.main .titulo_logo {
  color: var(--cor-titulo-grande);
  font-size: var(--fonte-grande);
}

.main .sub_titulo_logo {
  color: var(--cor-sub-titulo);
  font-size: var(--fonte-menor);
}

.main .caixa_formulario {
  display: flex;
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--cor-detalhes-fundo);
  border-radius: var(--esp-menor);
}

.main .formulario {
  display: flex;
  width: 100%;
  gap: var(--esp-menor);
  padding: var(--esp-normal);
  flex-direction: column;
}

.main label {
  font-weight: 300;
}

.main .formulario input {
  background-color: var(--cor-detalhes-fundo);
  border: none;
  padding: var(--esp-menor);
  border-radius: var(--esp-menor);
}

.main .botao_formulario {
  background-color: var(--cor-principal);
  border: none;
  padding: var(--esp-menor);
  border-radius: var(--esp-menor);
  color: white;
}
